@import "config";
@import "game";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Browser default is 16px but use % to bring it down to 10px  */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: url(../img/background.png) fixed;
  background-size: cover;
  background-position: top;
  font-family: "Roboto";
}

.header {
  height: 75vh;
  width: 70%;
  background: url(../img/header-content-bg.png) fixed;
  background-size: cover;
  background-position: top;
  margin: 7rem auto 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &__play-section {
    text-align: center;
    font-size: 1.7rem;
    margin-right: 25%;
    width: 50%;
  }

  &--title {
    color: white;
    text-decoration: underline #75e0bc;
    font-size: 5rem;
    margin-bottom: 7rem;
  }

  &__jimmy-section {
    background-color: white;
    border-radius: 3rem;
    padding: 1rem;
  }

  &--jimmy-impact {
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 2rem;
  }

  &--button {
    background-color: $button-color;
    width: 15rem;
    height: 5rem;
    border-radius: 3rem;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s;
    outline: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }

  &--button-animation {
    animation: moveInBottom 0.5s ease-out 0.25s;
    animation-fill-mode: backwards;
  }
}

#canvas {
  background: url(../img/office-background.png);
  background-size: cover;
  background-position: bottom;
  height: 75vh;
  width: 70%;
  margin: 7rem auto 0;
  position: relative;
  display: flex;
  border-radius: 7rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: moveInBottom 0.5s ease-out 0.25s;
  animation-fill-mode: backwards;
}

.instructions {
  background-image: linear-gradient(to right bottom, #060441ef, #060441b4),
    url(../img/kitchen-bg.png);
  background-size: cover;
  background-position: bottom;
  height: 75vh;
  width: 70%;
  margin: 7rem auto 0;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 7rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
  flex-direction: column;
  padding: 5rem 10rem;
  text-align: center;
  animation: moveInTop 0.5s ease-out 0.25s;
  animation-fill-mode: backwards;

  h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: underline #75e0bc;
  }

  p {
    font-size: 2rem;
    margin-bottom: 10rem;
  }

  &--button {
    background-color: $button-color;
    width: 15rem;
    height: 5rem;
    border-radius: 3rem;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 40px;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
    }
  }
}

.score {
  position: absolute;
  top: 9rem;
  width: 600px;
  left: calc(50% - 300px);
  height: 5rem;
  border-radius: 10px;
  background-color: #05063ec5;
  animation: moveInTop 0.5s ease-out 0.25s;
  animation-fill-mode: backwards;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.5rem;
  align-items: center;
}

.mute-on {
  font-size: 50px;
  position: fixed;
  background-color: $button-color;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: 2rem;
  color: white;
}

.no-show {
  display: none !important;
}
